body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cont {
    background: #c6c6ff;
    width: 900px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 19px;
    font-size: 19px;
    text-align: center;
    background: rgba(60, 60, 165, 0.53);
}

#formOfStudent {
    margin: 17% 0 0 10px;
    position: fixed;
    text-align: justify;
    display: block;
    padding: 20px;
    width: min-content;
    font: italic 16px Arial;
    color: rgb(217, 255, 239);
    text-shadow: #000000 -2px 0 3px, #000000 2px 0 3px, #000000 0px -2px 3px, #000000 0px 2px 3px;
    border: rgba(100, 198, 192, 0.31) outset 7px;
    background: linear-gradient(20deg, rgba(74, 169, 172, 0.6), rgba(166, 255, 118, 0.61), rgba(7, 0, 255, 0.56));/*background: #c6c6ff;*/
    backdrop-filter: blur(2px);
    border-radius: 25%;
}

.customClass:hover {
    background-color: rgba(238, 234, 226, 0.7);
    transition: background-color 100ms;
}
.customClass {
    text-align: left;
    width: max-content;
    display: inline-block;
    transition: background-color 100ms;
}
#Chead {
    position: sticky;
}
#listOfStudents {
    border: 1px solid #fafdea;
    background-color: rgba(238, 234, 226, 0.46);
    width: max-content;
    margin: 40px auto;
    padding: 10px;
    border-radius: 19px;
    font-size: 19px;
    text-align: left;
}
#listOfStudents input[type="button"]{
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    border: none;
}
#statistic {
    line-height: 1.4;
    display: inline-block;
    border: 1px solid #fafdea;
    background-color: rgba(0, 0, 0, 0.2);
    width: max-content;
    margin: 40px auto;
    padding: 20px 0;
    border-radius: 19px;
    font-size: 19px;
    text-align: left;
}
.z {
    background-color: rgba(255, 130, 130, 0.26);
}